include /etc/nginx/conf.d/main.conf;

http {
	upstream media {
		server @MEDIA_HOST@;
		keepalive 32;
	}

	include /etc/nginx/conf.d/http.conf;

	server {
		listen @VOD_PACKAGER_PORT@;
		server_name @VOD_PACKAGER_HOST@;
		include /etc/nginx/conf.d/server.conf;
	}

	include /etc/nginx/conf.d/ssl.conf;
}
