include @NGINX_CONF_PATH@/main.conf;

http {
	upstream media {
		server @MEDIA_HOST@;
		keepalive 32;
	}

	include @NGINX_CONF_PATH@/http.conf;

	# vod remote settings
	vod_mode remote;
	vod_upstream_location /media_proxy;

	server {
		listen @VOD_PACKAGER_PORT@;
		server_name @VOD_PACKAGER_HOST@;
		include @NGINX_CONF_PATH@/server.conf;
	}

	include @NGINX_CONF_PATH@/ssl.conf;
}
